/**
    Components for Neural Networking app
*/

.app-container {
    background-color: #1f1d1d;
    border-radius: 10px;
}

.component-container {
    float: left;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #3c3b3b;
    height: 25rem;
}

.component-container label {
    display: block;
    border-radius: 2rem;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 700;
}

.component-container label.blue {
    background-color: #3686bb;
}

.component-container label.yellow {
    background-color: #e5b92f;
}

.component-container label.red {
    background-color: #e54836;
}

.component-container label.orange {
    background-color: #e84a00;
}

.terminal {
    height: 15rem;
    font-family: "Courier New", serif;
    overflow: auto;
}

.terminal > *::selection {
    background-color: #e84a00;
}

.terminal > *::-moz-selection {
    background-color: #e84a00;
}

.oscillator .screen {
    display: block;
    padding: 1rem;
    background-color: #1f1d1d;
    border-radius: 3px;
}

fieldset {
    border: 0;
    border-radius: 5px;
    background-color: #565455;
}

select {
    color: white;
    padding: 0.5rem;
    border: 0;
    background-color: #2f2c2c;
    outline: none;
}

input[type=range].knob {
    z-index: 2;
    outline: none;
    top: 0.5rem;
    left: 0.5rem;
    -webkit-appearance: none;
    border-radius: 100%;
    display: block;
    height: 4rem;
    width: 4rem;
    background-color: rgba(0,0,0,0);
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.7);
}

input[type=range].knob::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3rem;
    width: 1rem;
}

input[type=text] {
    color: white;
    padding: 0.5rem;
    border: 0;
    background-color: #2f2c2c;
    outline: none;
}

input[type=file] {
    display: none;
}

input[type=file] + label {
    border-radius: 3px;
}

input[type=file] + label:hover {
    cursor: pointer;
}

span.knob {
    display: block;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    background: linear-gradient(#464445, #777576);
}

.knob .cap {
    top: 0.5rem;
    right: 0.5rem;
    display: block;
    z-index: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: linear-gradient(#646263, #504e4f);
}

.knob .rotor {
    top: 0.5rem;
    right: 0.5rem;
    display: block;
    z-index: 1;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.knob .rotor .bullet {
    top: 0.5rem;
    left: 1.8rem;
    position: absolute;
    z-index: 2;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: #787171;
}

.btn {
    outline: none;
    color: white;
}

.btn.taster {
    box-shadow: 0 1px 0 rgba(255,255,255,0.2);
    font-weight: 700;
    border-radius: 5px;
    width: 5rem;
    height: 5rem;
    background: linear-gradient(#777576, #666465);
    transition: border, 0.3s, ease-in-out;
}

.btn.taster:disabled {
    border-color: #313030;
}

.btn.taster:active {
    color: #dddddd;
    background: none;
    background-color: #666465;
}

.btn.normal {
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
}

.btn.red {
    border: 2px solid #e54836;
}

.btn.blue {
    border: 2px solid #3686bb;
}

.btn.green {
    border: 2px solid #1fbb70;
}

.btn.yellow {
    border: 2px solid #e5c14a;
}

label.green {
    background-color: #1fbb70;
    text-transform: none;
    width: auto;
}

.led {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: #222121;
    border-radius: 100%;
}

.led.orange.active {
    background-color: #e84a00;
}

/* Columns */
.col {
    margin: 1rem;
}

.col-1 {
    width: calc(33% - 2rem);
}

.col-2 {
    width: calc(66% - 2rem);
}

.col-3 {
    width: calc(100% - 2rem);
}